/* Container */
.container {
  min-height: 100vh;
  width: 100vw;
  background-color: #121212;
  /* background-color: #5e5df0; */
  color: white;
}

/* navbar */
nav {
  height: 10vh;
  display: flex;
  padding: 2%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  user-select: none;
}

nav div {
  cursor: pointer;
}

nav div i {
  padding-right: 8px;
}

/* main */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

.card {
  border-radius: 10px;
  width: 80%;
  height: 75vh;
  display: flex;
  background-color: #000000;
  padding: 1%;
  gap: 1%;
}

.card-1 {
  border: 1px solid #3d3d3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 40%;
  border-radius: 10px;
}

.card-2 {
  display: flex;
  justify-content: space-around;
  height: 100%;
  flex-grow: 1;
  gap: 1%;
}

.history {
  width: 50%;
  text-align: center;
  border: 1px solid #3d3d3d;
  border-radius: 10px;
  height: 100%;
}

.contact {
  width: 50%;
  text-align: center;
}

.input {
  height: 33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  list-style: none;
  outline: none;
  height: 30%;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}

.phoneNumber {
  display: flex;
  align-items: center;
  gap: 5%;
}

.phoneNumber button {
  width: 30%;
  border-radius: 10px;
  height: 30%;
  cursor: pointer;
  font-weight: bold;
}

.phoneNumber button i {
  padding-right: 3px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/* CSS */
button {
  /* background: #5e5df0; */
  background: #7366ff;
  border-radius: 999px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  text-align: center;
}

.contact {
  border: 1px solid #3d3d3d;
  border-radius: 10px;
  height: 100%;
}

.historyAndcontactHeader {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  height: 8%;
  border-bottom: 1px solid #3d3d3d;
}

.historyAndcontactHeader i {
  cursor: pointer;
}

.historyElement {
  border-radius: 10px;
  margin: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8%;
  border-bottom: 1px solid gray;
}

.historyElement a i {
  padding-right: 5px;
}

.contactElement {
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 12%;
  padding: 2%;
  border-bottom: 1px solid gray;
}

.contactElementNameAndNumber {
  display: flex;
  align-items: center;
  height: 100%;
  width: 70%;
}

.contactElementNameAndNumber a {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: column;
  gap: 1px;
}

/* Responsiveness */
@media only screen and (max-width: 576px) {
  /* CSS rules specific for extra small screens */
  nav {
    justify-content: space-around;
  }

  .card {
    flex-direction: column;
    height: 90%;
    width: 96%;
  }
  .card-1 {
    width: 100%;
  }

  input {
    height: 50%;
  }

  .phoneNumber button {
    height: 50%;
  }

  .historyElement {
    justify-content: center;
    font-size: 13px;
  }

  .contactElement {
    justify-content: space-between;
    align-items: center;
  }

  .contactElementNameAndNumber {
    width: 80%;
    font-size: 13px;
  }

  .contactElementNameAndNumber a {
    justify-content: space-evenly;
  }
}
